{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Djangram | Postar
{% endblock %}


{% block body %}
<section class="create-post-section">
    <div class="create-post-container">
        <h2 class="title">Compartilhe um post novo!</h2>
        <form class="create-post-form" method="POST" enctype="multipart/form-data">
            <!-- https://docs.djangoproject.com/en/2.2/ref/csrf/ -->
            {% csrf_token %}

            <!-- {{ form.as_p }} -->

            {% render_field form.author %}
            {% render_field form.image class+='create-post-input-img' %}
            {% render_field form.description class+='create-post-input-text' placeholder='Digite aqui a descrição do post' %}

            <input class="create-post-input-submit" type="submit" value="Postar">
        </form>
    </div>
</section>
{% endblock %}
