{% extends 'base.html' %}
{% load static %}

{% block title %}
    Djangram | Lista de posts
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block body %}
<section class="list-post-section">
    <div class="list-post-container">
        {% if messages %}
            {% for message in messages %}
                <p class="message">{{ message }}</p>
            {% endfor %}
        {% endif %}

        {% for p in posts %}
            {% with post=p  %}
                {% include 'includes/card.html' %}
            {% endwith %}

            <a href="{% url 'posts:detail_post' p.pk %}">Ver detalhes</a>
        {% empty %}
            <h2>Poxa, você não tem nenhum post ainda :(</h2>
        {% endfor %}
    </div>
</section>
{% endblock %}
