<header>
    <nav class="menu">
        <ul class="menu-links">
            <li>
                <a href="{% url 'posts:list_post' %}">Início</a>
            </li>
            <li>
                <a href="{% url 'posts:create_post' %}">Postar</a>
            </li>
            {% if not request.user.is_authenticated %}
            <li>
                <a href="{% url 'users:signup_user' %}">Signup</a>
            </li>
            <li>
                <a href="{% url 'users:login_user' %}">Login</a>
            </li>
            {% else %}
            <li>
                Olá, <a href="{% url 'users:detail_user' request.user.id %}">{{ request.user.username }}</a>
            </li>
            <li>
                <a href="{% url 'users:logout_user' %}">Logout</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>