{% extends 'base.html' %}
{% load static %}


{% block title %} Djangram | Perfil {% endblock title %}

{% block body %}
<section class="detail-user-section">
    <div class="detail-user-container">
        <div class="detail-user-content">
            <div class="back-img-cover-center detail-user-img" style="background-image: url({{ user.picture.url }});"></div>
            <div class="detail-user-text">
                <h3 class="detail-user-username">{{ user.username }}</h3>
                <div class="detail-user-numbers">
                    <span><b>{{ user.posts.all.count }}</b> posts</span>
                </div>
                {% if user == request.user %}
                    <a href="{% url 'users:update_user' user.pk %}" class="detail-user-edit">Editar perfil</a>
                {% endif %}
            </div>
        </div>

        <hr>

        <div class="detail-user-posts">
            {% for post in user.posts.all %}
                <a class="post-card-preview" href="">
                    <div class="back-img-cover-center post-card-preview-image" style="background-image: url({{ post.image.url }});"></div>
                </a>
            {% empty %}
                <p class="message">Poxa, você não tem nenhum post ainda :(</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock body %}
