{% extends 'base.html' %}
{% load static %}


{% block title %} Djangram | Login {% endblock title %}

{% block body %}
<section class="login-section">
    <div class="login-container simple-container">
        <h2> Login</h2>

        <a class="social-login-link" href="{% url "social:begin" "google-oauth2" %}">Login com Google</a>

        <form class="login-form simple-form" method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <input class="simple-input-submit" type="submit" value="Logar">
        </form>
    </div>
</section>
{% endblock body %}
