{% extends 'base.html' %}
{% load static %}


{% block title %} Djangram | Editar perfil {% endblock title %}

{% block body %}
<section class="update-user-section">
    <div class="update-user-container simple-container">
        <h2>Editar perfil</h2>
        <form class="update-user-form simple-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <input class="simple-input-submit" type="submit" value="Editar">
        </form>
    </div>
</section>
{% endblock body %}
